<h1>Playset Selection</h1>
<div class="row">
  <div class="col-sm-10">
    <div class="row">
      <div class="col-md-3" *ngFor="let playset of playsets">
        <label class="selector-container" [ngClass]="{ 'selected': playset == selectedPlayset }">
          <img class="img-fluid" src="{{ playset.img }}" />
          <input type="radio" name="playset" [value]="playset" (change)="onPlaysetSelect(playset)" style="display: none;"/>
          {{ playset.name }}
        </label>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <app-buttons (chooseEvent)="choosePlayset()" (resetEvent)="reset()"></app-buttons>
  </div>
</div>
