<h1>Pick a Card - Level {{ level }}</h1>
<div class="row">
  <div class="col-sm-8 col-md-10">
    <div class="row">
      <div class="col-12">
        <label class="selector-container" [ngClass]="{ 'selected': 'Random' == selectedCard }">
          <input type="radio" name="card" value="Random" (change)="selectCard('Random')" style="display: none;"/>
          <strong>Random</strong>
        </label>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let card of cards">
        <label class="selector-container" [ngClass]="{ 'selected': card == selectedCard }">
          <input type="radio" name="card" [value]="card" (change)="selectCard(card)" style="display: none;"/>
          {{ card }}
        </label>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-2">
    <app-buttons (chooseEvent)="continue()" (resetEvent)="reset()"></app-buttons>
  </div>
</div>
