<div class="row">
  <div class="col">
    <h1>Name: {{ name }}</h1>
    <p>
      Level: {{ level }}<br>
      Core Suit: {{ coreSuit }}
    </p>
  </div>
  <div class="col text-right">
    <a [routerLink]="['glossary']" [queryParams]="{playset: playsetName}" class="btn btn-secondary print-button">
      Glossary
    </a>
    <a [routerLink]="['print']" [queryParams]="characterData" class="btn btn-success print-button">
      Print
    </a>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 character-sheet-section">
    <h2>Bonuses</h2>
    <p>
      Stones: +{{ stonesBonus }}<br>
      Gales: +{{ galesBonus }}<br>
      Flames: +{{ flamesBonus }}<br>
      Brooks: +{{ brooksBonus }}<br>
    </p>
  </div>
  <div class="col-sm-4 selector-group character-sheet-section">
    <h2>Strikes</h2>
    <label *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10]" class="selector-container-small" [ngClass]="{ 'selected': i == 0 }">
      <input type="radio" name="strike" [value]="i" (change)="setStrikes(i)" style="display: none;"/>
      {{ i }}
    </label>
    <button type="button" class="btn btn-success" (click)="newScene()" style="margin-top: 10px;">New Scene</button>
  </div>
  <div class="col-sm-2 selector-group character-sheet-section">
    <h2>Wounds</h2>
    <label *ngFor="let i of [0,1,2,3]" class="selector-container-small" [ngClass]="{ 'selected': i == 0 }">
      <input type="radio" name="wound" [value]="i" (change)="setWounds(i)" style="display: none;"/>
      {{ i }}
    </label>
    <button type="button" class="btn btn-primary" (click)="resetStrikesAndWounds()" style="margin-top: 10px;">Reset All</button>
  </div>
</div>








<div class="row">
  <div class="col-sm-6 character-sheet-section">
    <button type="button" class="btn btn-secondary float-right print-button" (click)="refreshCharacterConfig()">Refresh</button>
    <h2>Character Config</h2>
<textarea id="characterConfig" class="form-control" rows="<%= @characterChoices.count + 1 %>" style="min-height: 408px; resize: none;">
<% @characterChoices.each do |choice| %>
<%= choice %>
<% end %>
</textarea>
  </div>
  <div class="col-sm-6 character-sheet-section">
    <h2>Challenge Rolls</h2>
    <%= render 'suits' %>
    <div class="row">
      <div class="col-sm-4 form-check text-center">
        <%= check_box_tag(:iscore, nil, false, class: 'form-check-input') %>
        <label class="form-check-label" for="iscore">Core Challenge?</label>
      </div>
      <div class="col-sm-4">
        <%= text_field_tag(:die_override, nil, class: 'form-control', placeholder: 'Dice Override') %>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary" onclick="rollDice(<%= @stonesBonus %>, <%= @galesBonus %>, <%= @flamesBonus %>, <%= @brooksBonus %>)">Roll</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea id="rollresult" class="form-control" rows="8" style="min-height: 278px; resize: none;"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="row character-sheet-section">
  <div class="col-12"><h2>Backstories</h2></div>
  <% @character['Backstories'].each_with_index do |quality, index| %>
    <div class="col-sm-6">
      <label class="selector-container-quality">
        <h3><%= quality['title'] %></h3>
        <p><%= quality['description'] %></p>
        <% quality['subQualities'].each do |subQuality| %>
          <% next if subQuality['title'] == 'Storyteller' %>
          <h4><%= subQuality['title'] %></h4>
          <p><%= subQuality['description'] %></p>
        <% end %>
      </label>
    </div>
  <% end %>
</div>
<div class="row character-sheet-section">
  <div class="col-12"><h2>Talents</h2></div>
  <% @character['Talents'].each_with_index do |quality, index| %>
    <div class="col-sm-6">
      <label class="selector-container-quality">
        <h3><%= quality['title'] %></h3>
        <p><%= quality['description'] %></p>
        <% quality['subQualities'].each do |subQuality| %>
          <% next if subQuality['title'] == 'Storyteller' %>
          <h4><%= subQuality['title'] %></h4>
          <p><%= subQuality['description'] %></p>
        <% end %>
      </label>
    </div>
  <% end %>
</div>
<div class="row character-sheet-section">
  <div class="col-12"><h2>Flaws</h2></div>
  <% @character['Flaws'].each_with_index do |quality, index| %>
    <div class="col-sm-6">
      <label class="selector-container-quality">
        <h3><%= quality['title'] %></h3>
        <p><%= quality['description'] %></p>
        <% quality['subQualities'].each do |subQuality| %>
          <% next if subQuality['title'] == 'Storyteller' %>
          <h4><%= subQuality['title'] %></h4>
          <p><%= subQuality['description'] %></p>
        <% end %>
      </label>
    </div>
  <% end %>
</div>
<div class="row character-sheet-section">
  <div class="col-12"><h2>Signature Move</h2></div>
  <% @character['Signature Move'].each_with_index do |quality, index| %>
    <div class="col-sm-6">
      <label class="selector-container-quality">
        <h3><%= quality['title'] %></h3>
        <p><%= quality['description'] %></p>
        <% quality['subQualities'].each do |subQuality| %>
          <% next if subQuality['title'] == 'Storyteller' %>
          <h4><%= subQuality['title'] %></h4>
          <p><%= subQuality['description'] %></p>
        <% end %>
      </label>
    </div>
  <% end %>
</div>
<div class="row character-sheet-section">
  <div class="col-12"><h2>Inventory</h2></div>
  <% @character['Inventory'].each_with_index do |quality, index| %>
    <div class="col-sm-6">
      <label class="selector-container-quality">
        <h3><%= quality['title'] %></h3>
        <p><%= quality['description'] %></p>
        <% quality['subQualities'].each do |subQuality| %>
          <% next if subQuality['title'] == 'Storyteller' %>
          <h4><%= subQuality['title'] %></h4>
          <p><%= subQuality['description'] %></p>
        <% end %>
      </label>
    </div>
  <% end %>
</div>
