<div class="row">
  <div class="col-sm-3">
    <label class="selector-container">
      <%= radio_button_tag(:suit, 'Stones', false, class: 'selector', style: 'display: none;') %>
      Stones
    </label>
  </div>
  <div class="col-sm-3">
    <label class="selector-container">
      <%= radio_button_tag(:suit, 'Gales', false, class: 'selector', style: 'display: none;') %>
      Gales
    </label>
  </div>
  <div class="col-sm-3">
    <label class="selector-container">
      <%= radio_button_tag(:suit, 'Flames', false, class: 'selector', style: 'display: none;') %>
      Flames
    </label>
  </div>
  <div class="col-sm-3">
    <label class="selector-container">
      <%= radio_button_tag(:suit, 'Brooks', false, class: 'selector', style: 'display: none;') %>
      Brooks
    </label>
  </div>
</div>
