<h1>What do you want to do?</h1>
<div class="row">
  <div class="col-6">
    <a href="/newchar" class="selector-container">Create a New Character</a>
  </div>
  <div class="col-6">
    <a href="/existchar" class="selector-container">Level Up an Existing Character</a>
  </div>
</div>
