<h1>What do you want to do?</h1>
<div class="row">
  <div class="col-sm-4">
    <a href="/newcharacter" class="selector-container">Create a New Character</a>
  </div>
  <div class="col-sm-4">
    <a href="/levelupcharacter" class="selector-container">Level Up an Existing Character</a>
  </div>
  <div class="col-sm-4">
    <a href="/viewcharacter" class="selector-container">View Character Sheet</a>
  </div>
</div>
