<h1>Character Name</h1>
<%= form_with(url: '/name', method: 'post', local: true) do %>
  <div class="row">
    <div class="col-sm-10">
      <%= text_field_tag(:name, nil, class: 'form-control', placeholder: 'Enter your Character Name') %>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-success">Choose</button>
      <a href="/reset" class="btn btn-warning">Reset</a>
    </div>
  </div>
<% end %>
