<h1>{{ title }} - Level {{ currentLevel }}</h1>
<div class="row">
  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-6" *ngFor="let quality in qualities">
        <label class="selector-container-quality" [ngClass]="{ 'selected': quality == selectedQuality }">
          <input type="radio" name="quality" [value]="quality" (change)="selectQuality(quality)" style="display: none;"/>
          <h2>{{ quality.title }}</h2>
          <p>{{ quality.description }}</p>
          <div *ngFor="let subQuality in quality.subQualities">
            <h3>{{ subQuality.title }}</h3>
            <p>{{ subQuality.description }}</p>
          </div>
        </label>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <app-buttons (chooseEvent)="continue()" (resetEvent)="reset()"></app-buttons>
  </div>
</div>
